*{
background-color:beige;
}
.header10{
    border-color: blue;
    display: flex;
    justify-content: left;
    padding: 20px;
}

.t1{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color:blueviolet;
    padding: 20px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color:blueviolet;
    padding: 20px;
}
.header1{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color:blueviolet;
    padding: 20px;
}
.header4{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color:blueviolet;
    padding: 20px;
}
.header6{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color:blueviolet;
    padding: 20px;
}
.header7{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color:blueviolet;
    padding: 20px;
}
.header8{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color:blueviolet;
    padding: 20px;
}
    a:link{
    color:white;
    }
    a:visited{
    color:brown;
    }
    .header10{
        border:solid;
    }
    .header10:hover{
        transform:scale(1.2);
    }
    .header1{
        border:solid;
    }
    .header3:hover{
        transform:scale(1.2);
    }
    .header3{
        border:solid;
    }
    .header4{
        border:solid;
    }
    .header5:hover{
        transform:scale(1.2);
    }
    .header5{
        border:solid;
    }
    .header6{
        border:solid;
    }
    .header7:hover{
        transform:scale(1.2);
    }
    .header7{
        border:solid;
    }
    .header8{
        border:solid;
    }
    .header9:hover{
        transform:scale(1.2);
    }
    .header9{
        border:solid;
    }
    .grid{
        display: flex;
    }
    .grid2{
        display: flex;
    }